

/* DASHBOARD COUNTS MEDIAQUERIES ------------------------- */

@media (max-width: 991px) {
    .dashboard-counts div[class*='col-'] {
        margin-bottom: 20px;
    }
/* DASHBOARD HEADER MEDIAQUERIES ------------------------- */
     .dashboard-header {
        background: none;
        border: none;
        padding: 0;
    }
    .dashboard-header div[class*='col-'] {
        margin-bottom: 30px;
    }
    .dashboard-header div[class*='col-']:last-of-type {
        margin-bottom: 0;
    }
    .dashboard-header .card {
        background: #fff;
        padding: 30px;
        -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        height: 100%;
    }

    /* STATISTICS  MEDIAQUERIES ------------------------- */
    .statistics div[class*='col-'] .card {
        height: auto;
        margin-bottom: 30px;
    }
    .statistics div[class*='col-']:last-of-type .card {
        margin-bottom: 0;
    }
    .statistics .data-usage {
        text-align: center;
    }
    .statistics .data-usage div[class*='col-']:first-of-type {
        padding-bottom: 20px;
    }
    .statistics .data-usage .gmpc {
        padding-bottom: 20px !important;
    }
    p {
        font-size: 0.75em;
    }
    /* UPDATES MEDIAQUERIES ------------------------- */
    .updates h2 {
        font-size: 1.05rem;
    }
    .updates strong {
        font-size: 1em;
        font-weight: 400;
    }
    .updates small {
        font-size: 0.85em;
    }
    .updates .full-date {
        font-size: 0.85em;
    }


}


@media (min-width: 992px) {
    .dashboard-header {
        margin-bottom: 30px;
    }
    .dashboard-header .card {
        -webkit-box-shadow: none;
        box-shadow: none;
        margin-bottom: 0;
    }
     nav.navbar .dropdown-menu strong {
        font-weight: 400;
    }
    nav.navbar .dropdown-menu a {
        font-size: 0.9em;
    }
}



/* SIDE NAVBAR MEDIAQUERIES ------------------------------ */

@media (max-width: 1199px) {
    .page {
        width: 100%;
    }
    .page.active {
        width: 100%;
    }
    .page.active-sm {
        width: calc(100% - 70px);
    }
    .side-navbar {
        left: -70px;
        width: 70px;
        text-align: center;
    }
    .side-navbar.show-sm {
        left: 0 !important;
    }
    .side-navbar .brand-small {
        display: block;
    }
    .side-navbar .sidenav-header-inner {
        display: none;
    }
    .side-navbar .sidenav-heading {
        margin-left: 0;
        font-size: .8rem;
    }
    .side-navbar ul li a {
        font-size: .7rem;
        padding-left: 5px;
        padding-right: 5px;
    }
    .side-navbar ul li a[data-toggle="collapse"]::before {
        content: '\f107';
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
        position: absolute;
        top: auto;
        right: 50%;
        bottom: 0;
        left: auto;
    }
    .side-navbar ul li a[data-toggle="collapse"][aria-expanded="true"]::before {
        content: '\f106';
    }
    .side-navbar ul li ul a {
        padding-left: 10px;
        font-size: .7rem;
    }
    .side-navbar i {
        display: block;
        margin-right: 0;
        font-size: 1rem;
    }
    .side-navbar .arrow {
        float: none;
        -webkit-transform: none !important;
        transform: none !important;
    }
    .side-navbar .badge {
        display: none;
    }
}


@media (min-width: 768px) {
    .dashboard-counts strong {
        font-size: 1em;
    }
    .dashboard-counts span {
        font-size: 0.9em;
    }
    .dashboard-counts .count-number {
        font-size: 3em;
    }

    .dashboard-header p {
        font-size: 0.9em;
    }
    .dashboard-header h2 {
        font-size: 1.3rem;
    }
    .dashboard-header .check-lists label {
        font-size: 0.85em;
    }

    .statistics h2 {
        font-size: 1.3rem;
    }

    .updates strong {
        font-size: 1em;
    }
    .updates small {
        font-size: 0.8em;
    }

    footer.main-footer p {
        font-size: 12px;
    }

    .login-page p,
    .register-page p {
        font-size: 0.9em;
    }
    .login-page form label.label-custom,
    .register-page form label.label-custom {
        font-size: 0.9em;
    }
    .login-page form small,
    .register-page form small {
        font-size: 0.8em;
    }
    .login-page .terms-conditions label,
    .register-page .terms-conditions label {
        font-size: 0.9em;
    }
    .login-page a.forgot-pass,
    .login-page a.signup,
    .register-page a.forgot-pass,
    .register-page a.signup {
        font-size: 0.8em;
    }
    .login-page small,
    .register-page small {
        font-size: 0.8em;
    }
    .login-page .copyrights p,
    .register-page .copyrights p {
        font-size: 0.85em;
        font-weight: 400;
    }
    /* FORMS MEDIAQUERIES */
    .forms h2 {
        font-size: 1rem;
    }
    .forms input.form-control {
        border-radius: 0;
    }
    .forms input.form-control::-moz-placeholder {
        font-size: 0.85em;
    }
    .forms input.form-control::-webkit-input-placeholder {
        font-size: 0.85em;
    }
    .forms input.form-control:-ms-input-placeholder {
        font-size: 0.85em;
    }
    .forms p {
        font-size: 0.9em;
    }

    .container-fluid {
        padding: 0 3rem;
    }
}



/* MAIN FOOTER MEDIAQUERIES ------------------------- */

@media (max-width: 575px) {
    footer.main-footer div[class*="col-"] {
        text-align: center !important;
    }
    /* LOGIN MEDIAQUERIES -------------------------- */
    .gmpc {
        border-right: none;
        border-bottom: 1px solid #eee;
    }
    /*  NAVBAR MEDIAQUERIES ---------------------------------- */
     nav.navbar .dropdown-menu {
        width: auto;
        right: -40px;
    }
    nav.navbar .notification {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .container-form {
        width: auto;
        margin: 0px auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    nav.navbar .login-user a {
        color: #fff;
        text-decoration: none;
        margin-top: 8px;
    }
    .col-form-label {
        padding-top: calc(0.375rem + 1px);
        padding-bottom: calc(0.375rem + 1px);
        margin-bottom: 0;
        font-size: inherit;
        line-height: 1.0;
        padding-left: 0px;
        padding-right: 0px;
    }
    .form-group {
        margin-bottom: 0px;
    }
    .commen-space{
        padding-left: 0px;
        padding-right: 0px;
    }
    .pl15 {
        padding-left: 0px !important;
    }
    .login-page a.forgot-pass, .register-page a.forgot-pass {
        display: block;
        font-size: 13px;
        font-family: Poppins-Regular;
        text-decoration: underline;
    }
    .login-page .form-inner, .register-page .form-inner {
        padding: 0px 0px 0px 0px;
        background: #fff;
        -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        width: 340px !important;
        margin: 0px !important;
        box-shadow: 1px 1px 5px 0px #8e8e8e;
        border-radius: 10px;
        display: flex;
    }
    .login-page .form-outer,
.register-page .form-outer {
    min-height: 100vh;
    width: 340px;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
}
.login-page .form-inner,
.register-page .form-inner {
    padding: 00px 0px 0px 0px;
    background: #fff;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 340px;
    margin: 0px auto;
    box-shadow: 1px 1px 5px 0px #8e8e8e;
    border-radius:10px;
    display: flex;
}
.rotated {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    font-family: Poppins-Regular;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    letter-spacing: 2px;
    margin-left: 4px !important;
    width: 100%;
}
.rotated-forgot {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    font-family: Poppins-Regular;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    letter-spacing: 2px;
    margin-left: 4px !important;
    transform: translate(10%, 30%) rotate(-180deg);
    width: 100%;
}
.login-page a.forgot-pass, .register-page a.forgot-pass {
    display: block;
    font-size: 12px !important;
    font-family: Poppins-Regular;
    text-decoration: underline;
    margin-top: 4px !important;
}
.login-right input.form-control-custom+label {
    font-size: 13px !important;
    font-family: Poppins-Regular;
    margin-bottom: 15px;
}
.login-page .form-outer, .register-page .form-outer {
    min-height: 100vh;
    width: 360px !important;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
}
}


/*Start Media Query*/

@media (min-width: 576px) {
    .card-deck {
        margin-right: -15px;
        margin-left: -15px;
    }
    .card-deck .card {
        margin-right: 15px;
        margin-left: 15px;
    }
}

@media (min-width: 320px) and (max-width: 767px){

    .form-control.custom-inputsetup {
        width: 100%;

}
.heading-name {
    width: 100%;
    margin-left:0px;
}
.dynamic-coloumn:first-child {
    margin-left: 0px;
}

.card:not([class*="text"]) p {
    color: #888;
    display: none;
}

}

